DEV = true # enable or disable dev mode
CLI_ACTIVE = true # enable or disable wp-cli
DEV_URL = http://localhost:3000/wp-content/plugins/bit-crm-sales-marketing-automation/frontend

PLUGIN_SLUG = bit-crm-sales-marketing-automation
SERVER_VARIABLES = bit_crm_

DEV_SSL = false # enable or disable ssl
DEV_SSL_CERT_PATH = C:/laragon/etc/ssl/laragon.crt # your ssl cert path
DEV_SSL_KEY_PATH = C:/laragon/etc/ssl/laragon.key # your ssl key path

# playwright config
DEV_DOMAIN = http://localhost::3000 //use virtual host domain 
WP_USERNAME =
WP_PASSWORD =
