.loader {
  width: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  color: var(--color-primary, #703dd7);
  clip-path: inset(-60px);
  box-shadow:
    -48px 6px,
    -48px 6px,
    -48px 6px;
  transform: translateY(-6px);
  animation: l19 1s infinite linear;
}

@keyframes l19 {
  16.67% {
    box-shadow:
      -48px 6px,
      -48px 6px,
      16px 6px;
  }

  33.33% {
    box-shadow:
      -48px 6px,
      0 6px,
      16px 6px;
  }

  40%,
  60% {
    box-shadow:
      -16px 6px,
      0 6px,
      16px 6px;
  }

  66.67% {
    box-shadow:
      -16px 6px,
      0 6px,
      48px 6px;
  }

  83.33% {
    box-shadow:
      -16px 6px,
      48px 6px,
      48px 6px;
  }

  100% {
    box-shadow:
      48px 6px,
      48px 6px,
      48px 6px;
  }
}
